--- 
--- 

p {
    word-break: break-word !important;
    text-align: justify !important;
}

li {
    word-break: break-word !important;
    text-align: justify !important;
}

mjx-container {
    font-size: 1.5rem !important;
}

.project-tagline-override-opacity {
    opacity: 1 !important;
}

li:has(> a#oop-list-item-1){
    list-style-type: '🍄';
}

li:has(> a#oop-list-item-2){
    list-style-type: '⚔️';
}
