--- 
--- 

p {
    word-break: break-word !important;
    text-align: justify !important;
}

li {
    word-break: break-word !important;
    text-align: justify !important;
}

.project-tagline-override-opacity {
    opacity: 1 !important;
}

@import url("math.css");
@import url("object-oriented-programming.css");
