--- 
--- 

.project-tagline-override-opacity {
    opacity: 1 !important;
}

p {
    word-break: break-word !important;
    text-align: justify !important;
}

li {
    word-break: break-word !important;
    text-align: justify !important;
}

li:has(> a#oop-list-item-1) {
    list-style-type: '🍄';
}

li:has(> a#oop-list-item-2) {
    list-style-type: '⚔️';
}

a#oop-list-item-1,
a#oop-list-item-2 {
    padding-inline-start: 10px;
}
